<div class="container-fluid">
  <page-content-header>
    <page-content-header-title>菜单管理</page-content-header-title>
    <page-content-header-subtitle>管理平台所有菜单,配置菜单权限</page-content-header-subtitle>
    <page-content-header-tags>
      <nz-tag [nzColor]="'blue'">Running</nz-tag>
    </page-content-header-tags>
    <page-content-header-extra>
      <nz-space>
        <button (click)="openMenuForm({})" *nzSpaceItem nz-button nzType="primary"><i class="bi bi-plus me-1"></i>新增
        </button>
        <nz-input-group *nzSpaceItem [nzAddOnAfter]="suffixIconButton" [nzSuffix]="suffixTemplate" nzSearch
                        style="width: 20rem">
          <input [(ngModel)]="search().search" name="search" nz-input placeholder="搜索用户" type="text" />
        </nz-input-group>
        <ng-template #suffixTemplate>
          @if (search().search) {
            <span nz-icon nzType="close" (click)="search().search = ''"></span>
          }
        </ng-template>
        <ng-template #suffixIconButton>
          <button (click)="onSearch()" nz-button nzSearch nzType="primary"><span nz-icon nzType="search"></span>
          </button>
        </ng-template>
      </nz-space>
    </page-content-header-extra>
  </page-content-header>
</div>
<nz-table
  #menuTable
  (nzQueryParams)="onTableQueryChange($event)"
  [(nzPageIndex)]="page().page"
  [(nzPageSize)]="page().size"
  [nzData]="menuPage().content"
  [nzScroll]="{ x: '100%' }"
  [nzTotal]="menuPage().totalElements"
  class="mt-1"
  nzFrontPagination="false"
  nzNoResult="无数据"
  nzShowPagination
  nzShowSizeChanger
  nzTableLayout="auto">
  <thead>
  <tr>
    <th nzLeft>编码</th>
    <th nzLeft>菜单名称</th>
    <th nzLeft nzWidth="18rem">权限标识</th>
    <th nzWidth="15rem">组件路径</th>
    <th>菜单类型</th>
    <th nzWidth="9.6rem">创建时间</th>
    <th nzWidth="4rem">排序</th>
    <th nzRight>操作</th>
  </tr>
  </thead>
  <tbody>
    @for (data of menuTable.data; track $index) {
      <ng-container>
        @for (item of mapOfExpandedData[data.code ? data.code : '0']; track $index) {
          <ng-container>
            @if ((item.parent && item.parent.expand) || !item.parent) {
              <tr>
                <td
                  (nzExpandChange)="collapse(mapOfExpandedData[data.code ? data.code : '0'], item, $event)"
                  [(nzExpand)]="item.expand"
                  [nzIndentSize]="item.level! * 20"
                  [nzShowExpand]="!!item.children"
                  nzLeft>
                  {{ item.code }}
                </td>
                <td nzLeft>{{ item.name }}</td>
                <td nzLeft>{{ item.authority }}</td>
                <td>{{ item.path }}</td>
                <td
                  i18n="@@menuTypes"> {item.type, select, FOLDER {文件夹} MENU {菜单} LINK {链接} API {接口} OTHER {其他} } </td>
                <td>{{ item.createdTime | date : 'short' }}</td>
                <td>{{ item.sortNo }}</td>
                <td nzRight>
                  <a nz-button nzType="link" (click)="openMenuForm(item)">编辑</a>
                  <nz-divider nzType="vertical"></nz-divider>
                  <a nz-popconfirm nzPopconfirmTitle="你确认要删除?" (nzOnConfirm)="delete(item)">删除</a>
                </td>
              </tr>
            }
          </ng-container>
        }
      </ng-container>
    }
  </tbody>
</nz-table>
