@use '@angular/material' as mat;

:root {
  --tblr-font-sans-serif: 'LXGW WenKai', 'Inter Var', Inter, '-apple-system', 'BlinkMacSystemFont',
    'San Francisco', 'Segoe UI', Roboto, 'Helvetica Neue', 'sans-serif';

  @include mat.progress-bar-overrides(
    (
      active-indicator-color: var(--tblr-orange),
      track-color: var(--tblr-blue),
    )
  );
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: var(--tblr-font-sans-serif);
}

html {
  color-scheme: dark;
  @include mat.theme(
    (
      color: mat.$violet-palette,
      typography: Roboto,
      density: 0,
    )
  );
}
