@use '@angular/material' as mat;

:root {
  @include mat.progress-spinner-overrides(
    (
      active-indicator-color: var(--tblr-primary),
    )
  );

  @include mat.theme-overrides(
    (
      color: (
        primary: var(--tblr-primary),
        secondary: var(--tblr-secondary),
        error: var(--tblr-error),
        warning: var(--tblr-warning),
        info: var(--tblr-info),
        success: var(--tblr-success),
      ),
      font-family: (
        sans-serif: var(--tblr-font-sans-serif),
      ),
    )
  );
}

html {
  color-scheme: light dark;
  @include mat.theme((
    color: mat.$violet-palette,
    typography: Roboto,
    density: 0
  ));
}
