/* You can add global styles to this file, and also import other style files */
html,
body {
  min-height: 100%;
  min-width: 100%;
  font-size: 16px;
  background-color: #f5f9f2;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
.ant-menu-submenu-title,
.ant-menu-item {
  font-size: 14px;
}
