:host {
  min-width: 100%;
  min-height: 100%;
}

.layout {
  min-height: 100vh;
}

.nz-header {
  padding-left: 1rem !important;
}

.logo {
  width: 12.8rem;
  height: 2.5rem;
  color: white;
  margin: 0.8rem 0.8rem 0.1rem 0;
  float: left;

  h1 {
    color: #fff;
    text-align: center;
  }
}

.header-menu {
  line-height: 4rem;
}

.sider-menu {
  min-height: 100%;
  border-right: 0;
}

.inner-layout {
  padding: 0 1.2rem 1.2rem;
}

nz-breadcrumb {
  margin: 1rem 0;
}

nz-content {
  background: #fff;
  padding: 1rem;
}
