<nz-layout class="layout">
  <nz-header class="nz-header">
    <div class="logo"><span nz-icon nzTheme="fill" nzType="html5" style="font-size: 2rem"></span>
      <h1 class="fs-2">PLATE</h1></div>
    <ul class="header-menu" nz-menu nzMode="horizontal" nzTheme="dark">
      <li nz-menu-item nzSelected><a routerLink="/home">首页</a></li>
      <li nz-menu-item>nav 2</li>
      <li nz-menu-item>nav 3</li>
    </ul>
  </nz-header>
  <nz-layout>
    <nz-sider [nzCollapsedWidth]="0" nzBreakpoint="md" nzCollapsible nzWidth="14.6rem">
      <ul class="sider-menu" nz-menu nzMode="inline" nzTheme="dark">
        <li *ngFor="let menu of menus$|async; index as i" nz-submenu nzIcon="user" nzOpen
            nzTitle="{{menu.name}}">
          <ul>
            <li *ngFor="let child of  menu.children; index as i" nz-menu-item nzSelected>
              <a [state]="child" routerLink=".{{child.path}}">{{child.name}}</a>
            </li>
            <li nz-menu-item><a routerLink="/home">首页</a></li>
            <li nz-menu-item>option3</li>
            <li nz-menu-item>option4</li>
          </ul>
        </li>
      </ul>
    </nz-sider>
    <nz-layout class="inner-layout">
      <nz-breadcrumb>
        <nz-breadcrumb-item *ngFor="let breadcrumb of breadcrumbs; index as i">
          <a routerLink=".{{breadcrumb.url}}">{{breadcrumb.label}}</a></nz-breadcrumb-item>
      </nz-breadcrumb>
      <nz-content>
        <div class="inner-content">
          <router-outlet></router-outlet>
        </div>
      </nz-content>
      <nz-footer>Ant Design ©2020 Implement By Angular</nz-footer>
    </nz-layout>
  </nz-layout>
</nz-layout>
