/* You can add global styles to this file, and also import other style files */
:root {
  --tblr-font-sans-serif: 'LXGW WenKai', 'Inter Var', Inter, '-apple-system', 'BlinkMacSystemFont',
    'San Francisco', 'Segoe UI', Roboto, 'Helvetica Neue', 'sans-serif';
  --tblr-body-font-weight: normal;
}
html,
body {
  width: 100%;
  height: 100%;
}
