:host {
  min-height: 100%;
  min-width: 100%;
}

.page {
  background-image: url(https://www.todaybing.com/api/today/cn),
    linear-gradient(rgba(0, 0, 255, 0.5), rgba(255, 255, 0, 0.5));
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.card {
  width: 100%;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(1rem);
  -webkit-backdrop-filter: blur(1rem);
  border: 0.01rem solid rgba(255, 255, 255, 0.18);
  border-radius: 1rem;
  box-shadow: 0 0.8rem 2rem rgba(31, 38, 135, 0.15);
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    transform: translateY(-0.2rem);
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2);
  }
}
