<nz-layout class="app-layout">
  <nz-sider [nzCollapsed]="isCollapsed" [nzTrigger]="null" class="menu-sidebar" nzBreakpoint="md" nzCollapsible
            nzWidth="14.8rem">
    <div class="sidebar-logo">
      <a href="https://ng.ant.design/" rel="noopener noreferrer" target="_blank">
        <img alt="logo" src="https://ng.ant.design/assets/img/logo.svg" />
        <h1>Plate 管理后台</h1>
      </a>
    </div>
    <ul nz-menu nzMode="inline" nzTheme="dark">
      <li nz-submenu nzIcon="dashboard" nzOpen nzTitle="Dashboard">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/welcome">Welcome</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a>Monitor</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a>Workplace</a>
          </li>
        </ul>
      </li>
      @for (menu of myMenus(); track menu) {
        <li nz-submenu nzIcon="{{ menu.icons }}" nzOpen nzTitle="{{ menu.name }}">
        <ul>
          @for (children of menu.children; track children) {
          <li nz-menu-item nzMatchRouter>
            <a nz-button nzType="link" routerLink="{{ children.path }}">{{ children.name }}</a>
          </li>
          }
        </ul>
      </li>
      }
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header class="hstack gap-2">
      <div class="app-header">
        <span (click)="isCollapsed = !isCollapsed" class="header-trigger">
          <span [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'" class="trigger" nz-icon></span>
        </span>
      </div>
      <div class="ms-auto">
        <ul nz-menu nzMode="horizontal" nzTheme="dark">
          <li nz-menu-item>
            <span nz-icon nzType="home"></span>
            <a class="p-1" href="/home" nz-button nzType="link">首页</a>
          </li>
          <li [nzPlacement]="'bottomRight'" nz-submenu nzIcon="user" nzTitle="我的">
            <ul>
              <li nz-menu-item>
                <a (click)="loginOut()" nz-button nzDanger nzType="link">账号退出</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </nz-header>
    <nz-page-header class="site-page-header">
      <nz-breadcrumb nz-page-header-breadcrumb nzAutoGenerate="true" nzRouteLabel="title"></nz-breadcrumb>
      <nz-avatar nz-page-header-avatar nzSrc="https://avatars0.githubusercontent.com/u/22736418?s=88&v=4"></nz-avatar>
      <!--title-->
      <nz-page-header-title>
        <ng-content select="nz-page-header-subtitle"></ng-content>
      </nz-page-header-title>
      <!--subtitle-->
      <nz-page-header-subtitle>
        <ng-content select="nz-page-header-subtitle"></ng-content>
      </nz-page-header-subtitle>
      <!--header tags-->
      <nz-page-header-tags>
        <ng-content select="nz-page-header-tags"></ng-content>
      </nz-page-header-tags>
      <!--header extra-->
      <nz-page-header-extra>
        <ng-content select="nz-page-header-extra"></ng-content>
      </nz-page-header-extra>
      <!--header content-->
      <nz-page-header-content>
        <ng-content select="nz-page-header-content"></ng-content>
      </nz-page-header-content>
    </nz-page-header>
    <nz-content>
      <div class="container-fluid">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
