:host {
  min-width: 100%;
  min-height: 100%;
}

.layout {
  min-height: 100vh;
}

.logo {
  height: 2.5rem;
  background: rgba(217, 33, 33, 0.2);
  margin: 16px;
}

nz-header {
  background: #173494;
  padding: 0;
}

nz-content {
  margin: 0.5rem 0.2rem 0;
}

.inner-content {
  padding: 2rem;
  background: #fff;
  min-height: 12rem;
}

nz-footer {
  text-align: center;
}
