// Custom Theming for NG-ZORRO
// For more information: https://ng.ant.design/docs/customize-theme/en
@import 'ng-zorro-antd/ng-zorro-antd.less';
@import 'ng-zorro-antd/ng-zorro-antd.dark.less';
// Override less variables to here
// View all variables: https://github.com/NG-ZORRO/ng-zorro-antd/blob/master/components/style/themes/default.less
// @primary-color: #1890ff;

@black: #151f2c;
@white: #f8fafc;

// Layer background
@popover-background: #182433;
@popover-customize-border-color: #3a3a3a;
@body-background: @black;
@component-background: #151f2c;

// color palettes
@blue-base: #1890ff;
@purple-base: #722ed1;
@cyan-base: #13c2c2;
@green-base: #52c41a;
@magenta-base: #eb2f96;
// alias of magenta
@pink-base: #eb2f96;
@red-base: #f5222d;
@orange-base: #fa8c16;
@yellow-base: #fadb14;
@volcano-base: #fa541c;
@geekblue-base: #2f54eb;
@lime-base: #a0d911;
@gold-base: #faad14;

.cdk-overlay-container {
  z-index: 2000;
}
