<aside class="navbar navbar-vertical navbar-expand-lg navbar-dark navbar-aside">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="sidebar-menu">
      <ul class="navbar-nav pt-lg-3">
        <li *ngFor="let item of parentMenus()" class="nav-item dropdown">
          <a aria-expanded="false" class="nav-link dropdown-toggle" data-bs-auto-close="true"
             data-bs-toggle="dropdown" role="button">
            <span class="nav-link-icon d-md-none d-lg-inline-block"><i-tabler [name]="item.icons"></i-tabler></span>
            <span class="nav-link-title">{{item.name}}</span>
          </a>
          <div class="dropdown-menu show">
            <div class="dropdown-menu-columns">
              <div class="dropdown-menu-column">
                <a *ngFor="let subItem of subMenus(item)" [routerLink]="subItem.path" class="dropdown-item"
                   routerLinkActive="active">
                  {{subItem.name}}
                </a>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</aside>
